 p#z34_slawski {
 width: 200pt;
 height:3cm;
 padding : 20px;
 margin-left : 310px;
 border : inset;
 border-color : purple;
 background : rgb(210, 4, 45);
 font-size: 15px;
 }
 
/* mateusz sławski 3kg2 */